@using Routes = ProxyMov_DownloadServer.Misc.Routes;
@attribute [Route(Routes.Settings)]
@inject IApiService ApiService
@inject NavigationManager NavigationManager
@inject IHxMessengerService ToastService
@using System.ComponentModel.DataAnnotations
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<PageTitle>@LangText["Settings"]</PageTitle>

<div class="container">
    <div class="row px-3 mt-2 py-2">
        <div class="col-6">
            <h5>@LangText["DownloadPath"]</h5>
            <HxInputText @bind-Value="DownloadPath" Placeholder="C:\\Downloads"></HxInputText>
        </div>
    </div>
    <EditForm Model="@DownloaderPreferences" OnValidSubmit="@(() => SavePreferences())">
        <DataAnnotationsValidator />
        <div class="row mt-3">
            <div class="col-sm-auto">
                <div class="px-3 py-2">
                    <div class="my-2">
                        <HxIcon CssClass="d-inline fs-5 text-primary" Icon="BootstrapIcon.Gear"></HxIcon>
                        <h5 class="d-inline px-2">@LangText["Generally"]</h5>
                    </div>
                    <label class="text-warning mt-2">@LangText["IntervalInMinutes"]</label>
                    <HxInputNumber InputSize="InputSize.Small" CssClass="mt-2" Decimals="0" TValue="int" @bind-Value="DownloaderPreferences.Interval" />
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="px-3 py-2">
                    <div class="my-2">
                        <HxIcon CssClass="d-inline fs-5 text-primary" Icon="BootstrapIcon.PlayFill"></HxIcon>
                        <h5 class="d-inline px-2">Start:</h5>
                    </div>
                    <HxCheckbox CssClass="mt-2" TextCssClass="text-warning" Inline="true" @bind-Value="DownloaderPreferences.AutoStart" Text=@LangText["AutostartDownloads"] />
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="px-3 py-2">
                    <div class="my-2">
                        <HxIcon CssClass="d-inline fs-5 text-primary" Icon="BootstrapIcon.Telegram"></HxIcon>
                        <h5 class="d-inline px-2">Telegram:</h5>
                    </div>
                    <HxCheckbox CssClass="mt-2" TextCssClass="text-warning" Inline="true" @bind-Value="DownloaderPreferences.TelegramCaptchaNotification" Text=@LangText["TelegramNotifyOnCaptcha"] />
                </div>
            </div>
        </div>
        <div class="row p-2 pb-2">
            @if (ProxySettingsChanged)
            {
                <HxAlert Color="ThemeColor.Info" CssClass="mt-1">
                    <HxIcon CssClass="pe-1" Icon="@BootstrapIcon.ExclamationCircleFill" />
                    Damit die Proxy Einstellungen wirksam werden, bitte die Einstellungen speichern und den Server neustarten!
                </HxAlert>
            }
            <div class="col-md-auto">
                <div class="px-3 py-2">
                    <div class="my-2">
                        <HxIcon CssClass="d-inline fs-5 text-primary" Icon="BootstrapIcon.Activity"></HxIcon>
                        <h5 class="d-inline px-2">Proxy:</h5>
                    </div>
                    <HxCheckbox CssClass="mt-2" TextCssClass="d-inline text-warning" Inline="true" @oninput="OnProxySettingsChanged" @bind-Value="DownloaderPreferences.UseProxy" Text=@LangText["UseProxy"] />
                </div>
            </div>
            <div class="col mt-3">
                <label class="text-warning my-2">@LangText["ProxyAddress"]</label>
                <HxInputText Enabled=DownloaderPreferences.UseProxy Placeholder="p.webshare.io" @oninput="OnProxySettingsChanged" InputSize="InputSize.Small" @bind-Value="DownloaderPreferences.ProxyUri" />
            </div>
            <div class="col mt-3">
                <label class="text-warning my-2">@LangText["ProxyUsername"]</label>
                <HxInputText Enabled=DownloaderPreferences.UseProxy InputSize="InputSize.Small" @oninput="OnProxySettingsChanged" @bind-Value="DownloaderPreferences.ProxyUsername" />
            </div>
            <div class="col mt-3">
                <label class="text-warning my-2">@LangText["ProxyPassword"]</label>
                <HxInputText Enabled=DownloaderPreferences.UseProxy Type="InputType.Password" @oninput="OnProxySettingsChanged" InputSize="InputSize.Small" @bind-Value="DownloaderPreferences.ProxyPassword" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="my-2">
                <HxIcon CssClass="d-inline fs-5 text-primary" Icon="BootstrapIcon.FileBinary"></HxIcon>
                <h5 class="d-inline px-2">Converter:</h5>
            </div>
            <div class="col-4 mt-3">
                <div class="border rounded p-3">
                    <h6 class="px-2 pb-3">Dateiformat:</h6>
                    <HxRadioButtonList TItem="FileFormat"
                                       TValue="FileFormat"
                                       Data="GetEnumData<FileFormat>()"
                                       @bind-Value="@SelectedFileFormat"
                                       ItemTextSelector="@(ff => ff.ToFileFormatName().ToUpper())"
                                       ItemValueSelector="@(ff => ff)"
                                       CssClass="mt-2"
                                       ItemCssClass="mt-2"
                                       ItemTextCssClass="text-warning"
                                       AutoSort="false" />
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class="border rounded p-3">
                    <h6 class="px-2">Video Codec:</h6>
                    <small class="text-danger">Rekodieren notwendig!</small>
                    <HxRadioButtonList TItem="VideoCodec"
                                       TValue="VideoCodec"
                                       Data="GetEnumData<VideoCodec>()"
                                       @bind-Value="@SelectedVideoCodec"
                                       ItemTextSelector="@(vc => vc.ToVideoCodecName().ToUpper())"
                                       ItemValueSelector="@(vc => vc)"
                                       CssClass="mt-2"
                                       ItemCssClass="mt-2"
                                       ItemTextCssClass="text-warning"
                                       AutoSort="false" />
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class="border rounded p-3">
                    <h6 class="px-2">Audio Codec:</h6>
                    <small class="text-danger">Rekodieren notwendig!</small>
                    <HxRadioButtonList TItem="AudioCodec"
                                       TValue="AudioCodec"
                                       Data="GetEnumData<AudioCodec>()"
                                       @bind-Value="@SelectedAudioCodec"
                                       ItemTextSelector="@(ac => ac.ToAudioCodecName().ToUpper())"
                                       ItemValueSelector="@(ac => ac)"
                                       CssClass="mt-2"
                                       ItemCssClass="mt-2"
                                       ItemTextCssClass="text-warning"
                                       AutoSort="false" />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <HxSubmit Color="ThemeColor.Success" Icon="BootstrapIcon.Check" CssClass="w-100">@LangText["Save"]</HxSubmit>
            </div>
            <div class="col-6">
                <HxButton Outline="true" Color="ThemeColor.Warning" Icon="BootstrapIcon.XCircle" CssClass="w-100" OnClick="NavigateBack">@LangText["Cancel"]</HxButton>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private I18nText.Lang LangText = new();

    private bool ProxySettingsChanged { get; set; }
    private string? DownloadPath { get; set; }
    private DownloaderPreferencesModel? DownloaderPreferences = new();

    private FileFormat SelectedFileFormat { get; set; }
    private VideoCodec SelectedVideoCodec { get; set; }
    private AudioCodec SelectedAudioCodec { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LangText = await I18nText.GetTextTableAsync<I18nText.Lang>(this);
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DownloaderPreferences = await ApiService.GetAsync<DownloaderPreferencesModel?>("getDownloaderPreferences");

            if (DownloaderPreferences is null)
            {
                ToastService.AddMessage(ErrorMessage.RetrieveDownloaderPreferencesFail, MessageType.Error);
                NavigateBack();
                return;
            }

            SettingsModel? settings = SettingsHelper.ReadSettings<SettingsModel>();

            if (settings is null || string.IsNullOrEmpty(settings.DownloadPath))
            {
                ToastService.AddMessage(ErrorMessage.RetrieveDownloaderPreferencesFail, MessageType.Error);
                return;
            }

            DownloadPath = settings.DownloadPath;

            if (settings.ConverterSettings is not null)
            {
                SelectedFileFormat = settings.ConverterSettings.FileFormat;
                SelectedVideoCodec = settings.ConverterSettings.VideoCodec;
                SelectedAudioCodec = settings.ConverterSettings.AudioCodec;
            }

            StateHasChanged();
        }
    }

    private async Task SavePreferences()
    {
        bool success = await ApiService.SetDownloaderPreferences(DownloaderPreferences);

        if (!success)
        {
            ToastService.AddMessage(ErrorMessage.DownloaderPreferencesSaveFail, MessageType.Error);
            return;
        }

        SettingsModel? settings = SettingsHelper.ReadSettings<SettingsModel>();

        settings.DownloadPath = DownloadPath;
        settings.ConverterSettings = new()
            {
                FileFormat = SelectedFileFormat,
                VideoCodec = SelectedVideoCodec,
                AudioCodec = SelectedAudioCodec,
            };

        SettingsHelper.SaveSettings(settings);

        ToastService.AddMessage(InfoMessage.DownloaderPreferencesSaved, MessageType.Success);

        await Task.Delay(1000);

        NavigateBack();
    }

    private void OnProxySettingsChanged()
    {
        ProxySettingsChanged = true;
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo(Routes.Dashboard);
    }

    private IEnumerable<T> GetEnumData<T>()
    {
        bool isContainer = Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") == "true";

        if (isContainer && typeof(T) == typeof(VideoCodec))
            return ( (IEnumerable<T>)Enum.GetValuesAsUnderlyingType(typeof(T)) ).Where(_ => !_!.ToString()!.ToVideoCodec().Equals(VideoCodec.H264NVENC) &&
                                                                                                !_.ToString()!.ToVideoCodec().Equals(VideoCodec.H265));

        return (IEnumerable<T>)Enum.GetValuesAsUnderlyingType(typeof(T));
    }
}
