@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IHxMessengerService ToastService
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<HxSidebar CssClass="sticky-top mb-4" ResponsiveBreakpoint="SidebarResponsiveBreakpoint.Large">
    <HeaderTemplate>
        <div class="w-100">            
            <LanguageSelectorComponent></LanguageSelectorComponent>
        </div>
    </HeaderTemplate>
    <ItemsTemplate>
        <HxSidebarItem Icon="BootstrapIcon.Columns" Href="@ProxyMov_DownloadServer.Misc.Routes.Dashboard">
            <ContentTemplate>
                Dashboard
                <HxBadge Color="ThemeColor.Secondary" CssClass="ms-2">

                </HxBadge>
            </ContentTemplate>
        </HxSidebarItem>      
        <HxSidebarItem Icon="BootstrapIcon.BoxArrowLeft" CssClass="mt-5 text-danger" Href="@ProxyMov_DownloadServer.Misc.Routes.Shutdown">
            <ContentTemplate>
                <span class="ms-2">@LangText["NavShutdownServer"]</span>
            </ContentTemplate>
        </HxSidebarItem>
        <HxSidebarItem Icon="BootstrapIcon.Gear" CssClass="border-top rounded-0 pt-2 text-warning" Href="@ProxyMov_DownloadServer.Misc.Routes.Settings">
            <ContentTemplate>
                <span class="ms-2">@LangText["Settings"]</span>
            </ContentTemplate>
        </HxSidebarItem>
    </ItemsTemplate>
    <TogglerTemplate></TogglerTemplate>
</HxSidebar>

@code {
    private I18nText.Lang LangText = new();

    protected override async Task OnInitializedAsync()
    {
        LangText = await I18nText.GetTextTableAsync<I18nText.Lang>(this);
    }
}
