@using ProxyMov_DownloadServer.I18nText
@using Toolbelt.Blazor.I18nText
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IHxMessengerService ToastService
@inject I18nText I18nText

<HxSidebar CssClass="sticky-top mb-4" ResponsiveBreakpoint="SidebarResponsiveBreakpoint.Large">
    <HeaderTemplate>
        <div class="w-100">
            <h6 class="text-secondary ps-2 pt-1 pb-1" style="color: #212529">v.@(GetAssemblyVersion())</h6>
            <LanguageSelectorComponent></LanguageSelectorComponent>
        </div>
    </HeaderTemplate>
    <ItemsTemplate>
        <HxSidebarItem Icon="BootstrapIcon.Columns" Href="@Misc.Routes.Dashboard">
            <ContentTemplate>
                Dashboard
                <HxBadge Color="ThemeColor.Secondary" CssClass="ms-2">

                </HxBadge>
            </ContentTemplate>
        </HxSidebarItem>
        @if (Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") != "true")
        {
            <HxSidebarItem Icon="BootstrapIcon.ArrowDownCircle" Href="@Misc.Routes.Updates">
                <ContentTemplate>
                    <span class="ms-2">@LangText["NavCheckUpdates"]</span>
                    <HxBadge Color="ThemeColor.Secondary" CssClass="ms-2">

                    </HxBadge>
                </ContentTemplate>
            </HxSidebarItem>
        }
        <HxSidebarItem Icon="BootstrapIcon.BoxArrowLeft" CssClass="mt-5 text-danger" Href="@Misc.Routes.Shutdown">
            <ContentTemplate>
                <span class="ms-2">@LangText["NavShutdownServer"]</span>
            </ContentTemplate>
        </HxSidebarItem>
        <HxSidebarItem Icon="BootstrapIcon.Gear" CssClass="border-top rounded-0 pt-2 text-warning"
                       Href="@Misc.Routes.Settings">
            <ContentTemplate>
                <span class="ms-2">@LangText["Settings"]</span>
            </ContentTemplate>
        </HxSidebarItem>
    </ItemsTemplate>
    <TogglerTemplate></TogglerTemplate>
</HxSidebar>

@code {
    private Lang LangText = new();

    protected override async Task OnInitializedAsync()
    {
        LangText = await I18nText.GetTextTableAsync<Lang>(this);
    }

    private string? GetAssemblyVersion()
    {
        return typeof(Program).Assembly.GetName().Version!.ToString();
    }

}
